@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{--main-color:#61892F;
    --black:#13131a;
    --bg:#222629;
    --border:.1rem solid rgba(255,255,255,.3);
    --main2-color:#86C232;
    --bg2:#fff;
    --bg3:#474B4F}
    
    
    *{ font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;}
    
html{font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;}
        
    html::-webkit-scrollbar{width: .8rem;}
        
    html::-webkit-scrollbar-track{background: transparent;}
        
    html::-webkit-scrollbar-thumb{background: #fff; border-radius: 5rem;}
        
    body{background: var(--bg);}
    
    section{
        padding:2rem 9%;
    }
    
    .heading{
        text-align: center;
        padding:2rem 0;
        padding-bottom: 3rem;
        font-size: 3.5rem;
        color:var(--black);
    }
    
   
    

        
    .header{
        background: var(--bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 7%;
        border-bottom: var(--border);
        position: fixed;
        top:0; 
        left:0; 
        right:0;
        z-index: 1000;
        }
    
    .header .logo img{height: 6rem;}
        
    .header .navbar a{margin: 0 1rem; font-size: 1.6rem; color: #fff; }
    
    .header .navbar a:hover{
        color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    }
    
    .header .icons div{color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;}
    
    .header .icons div:hover{
        color:var(--main-color);
    }
    
    #menu-btn{display: none;}
    
    .heading{
        text-align: center;
        color:#fff;
        text-transform: uppercase;
        padding-bottom: 3.5rem;
        font-size: 4rem;
    }
    
    .heading span{
        color:var(--main-color);
        text-transform: uppercase;
    }
    
    .btn{
        margin-top: 1rem;
        display: inline-block;
        padding:.9rem 3rem;
        font-size: 1.7rem;
        color:#fff;
        background: var(--main-color);
        cursor: pointer;
    }
    
    .btn:hover{
        letter-spacing: .2rem;
    }
    
    
    
    
    
    
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(pimages/bb2.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 17rem;
        padding-bottom: 10rem;
    }
    
    .home .content{
        text-align: center;
        width:60rem;
    }
    
    .home .content h3{
        color:var(--black);
        font-size: 4rem;
    }
    
    .home .content h3 span{
        color:var(--black);
    }
    
    .home .content p{
        color:var(--black);
        font-size: 1.7rem;
        padding:1rem 0;
        line-height: 1.8;
    }
    

    .about .row{
        display: flex;
        align-items: center;
        background:var(--black);
        flex-wrap: wrap;
    }
    
    .about .row .image{
        flex:1 1 45rem;
        
    }
    
    .about .row .image img{
        width: 100%;
        padding:0px;
        display: flex;
        filter: grayscale();
        transition: filter 0.4s ease-in-out;
        
    }

    .about .row .image:hover img{ filter: none;
    }
    .about .row .content{
        flex:1 1 45rem;
        padding:2rem;
    }
    
    .about .row .content h3{
        font-size: 3rem;
        color:var(--bg2);
    }
    
    .about .row .content p{
        font-size: 1.6rem;
        color:var(--bg2);
        padding:1rem 0;
        line-height: 1.8;
    }


    
    .title{
        text-align: center;
        margin: 40px auto 30px;
        overflow: hidden;

    }

    .bacterie{height: 110vh;
    overflow:hidden;
    }

    .flip-card{height: 110vh;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .container{ 
        width: 48%;
        height: 60%;
        perspective: 1000px;
        }

    .container:hover > .card {
        cursor: pointer;
        transform: rotateY(180deg);
    }

    .card{
        height: 100%; width: 100%; 
        position: relative;
        transition: transform 1500ms;
        transform-style: preserve-3d;
    }

    .front,.back{height: 100%; width: 100%;
         border-radius: 2rem;
        box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;}

    .front {background-image:url(pimages/bacteries.png) ;}

    .back{background-color: var(--bg3);
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }

    .back h1{font-size: 2rem;
        color:var(--bg2);}
    
    .back p{font-size: 1.6rem;
        color:var(--bg2);
        padding: 10px;
    }

    .card:hover{
        cursor: pointer;
        transform: rotateY(180deg);
    }

    



    .container2{width:48%; 
        height: 60%;
        perspective: 1000px;
        }

    .container2:hover > .card2 {
        cursor: pointer;
        transform: rotateY(180deg);
    }

    .card2{
        height: 100%; width: 100%; 
        position: relative;
        transition: transform 1500ms;
        transform-style: preserve-3d;
    }

    .front2,.back2{height: 100%; width: 100%;
         border-radius: 2rem;
        box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;}

    .front2 {background-image:url(pimages/cianobac.jpg) ;}

    .back2{background-color: var(--bg3);
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .back2 h1{font-size: 2rem;
        color:var(--bg2);}
    
    .back2 p{font-size: 1.6rem;
        color:var(--bg2);
        padding: 10px;
    }
    .card2:hover{
        cursor: pointer;
        transform: rotateY(180deg);
    }
    


    
    


    .bacterie .title p{font-size: 1.6rem;
        color:var(--bg2);
        padding:1rem 0;
        line-height: 1.8;}



    .footer{
        background:var(--main-color);
        text-align: center;
    }
    
    .footer .share{
        padding:1rem 0;
    }
    
    .footer .share a{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        color:#fff;
        border:var(--border);
        margin:.3rem;
        border-radius: 50%;
    }
    
    .footer .share a:hover{
        background-color: var(--bg);
    }
    
    .footer .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding:2rem 0;
        gap:1rem;
    }
    
    .footer .links a{
        padding:.7rem 2rem;
        color:#fff;
        border:var(--border);
        font-size: 2rem;
    }
    
    .footer .links a:hover{
        background:var(--bg);
    }
    
    .footer .credit{
        font-size: 2rem;
        color:#fff;
        font-weight: lighter;
        padding:1.5rem;
    }
    
    .footer .credit span{
        color:var(--bg);
    }

    
    @media (max-width:768px){
    
        #menu-btn{
            display: inline-block;
        }
    
        .header .navbar{
            position: absolute;
            top:100%; right: -100%;
            background: #fff;
            width: 30rem;
            height: calc(100vh - 9.5rem);
        }
    
        .header .navbar.active{
            right:0;
        }
    
        .header .navbar a{
            color:var(--black);
            display: block;
            margin:1.5rem;
            padding:.5rem;
            font-size: 2rem;
        }
    
    
        .home{
            background-position: left;
            justify-content: center;
            text-align: center;
        }
    
        .home .content h3{
            font-size: 4.5rem;
        }
    
        .home .content p{
            font-size: 1.5rem;
        }
    
    }
    
    @media (max-width:450px){
    
        html{
            font-size: 50%;
        }
    
    }
    
    @media (max-width:800px){

        .bacterie{height: 180vh;
            overflow:hidden;
        }
        
            .flip-card{height: 180vh;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: auto;
                overflow: hidden;
                padding-top: 50px;
                padding-bottom: 400px;
            }
        
            .container{ 
                width: 100%;
                height: 48%;
                perspective: 1000px;
                }
        
            .container:hover > .card {
                cursor: pointer;
                transform: rotateY(180deg);
            }
        
            .card{
                height: 100%; width: 100%; 
                position: relative;
                transition: transform 1500ms;
                transform-style: preserve-3d;
            }
        
            .front,.back{height: 100%; width: 100%;
                 border-radius: 2rem;
                box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
            position: absolute;
            backface-visibility: hidden;}
        
            .front {background-image:url(pimages/bacteries.png) ;}
        
            .back{background-color: var(--bg3);
                transform: rotateY(180deg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                
            }
        
            .back h1{font-size: 2rem;
                color:var(--bg2);}
            
            .back p{font-size: 1.6rem;
                color:var(--bg2);
                padding: 10px;
            }
        
            .card:hover{
                cursor: pointer;
                transform: rotateY(180deg);
            }
        
            
        
        
        
            .container2{width:100%; 
                height: 48%;
                perspective: 1000px;
                }
        
            
            }
        
           
        .flip-card{flex-basis: 100%;
        margin-bottom: 30px;}

        
    
        .back h1{
            font-size: 12px;
            color: var(--bg2);
        }

        .back2 h1{
            font-size: 12px;
            color: var(--bg2);
        }

        .back p{
            font-size: 12px;
            color: var(--bg2);
        }
    
        .back2 p{
            font-size: 12px;
            color: var(--bg2);
        }
        
    
        
    